p {
    color:red;
}
li {
    color:#800042;
}
#obuolys {
    width: 100px;
    height: 100px;
}

#obuolys, #arbata, #ausinukai {
    font-weight: normal;
}

body {
    background-color: #ffe6f3;
}

#CSS, #postgre {
    color: #e60000;
}

label {
    color: #800042;
}

button {

}